<p-card [style]="{'margin': '1%' }">
  <p-table #dt1 [value]="starships" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [tableStyle]="{'min-width': '50rem'}"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['name','cargo_capacity','crew','designation','manufacturer']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">Nombre</th>
        <th style="width:20%">Capacidad de carga</th>
        <th style="width:20%">Personal necesario</th>
        <th style="width:20%">Longitud</th>
        <th style="width:30%">Fabricante</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-starship>
      <tr>
        <td>{{starship.name}}</td>
        <td>{{starship.cargo_capacity}} kg</td>
        <td>{{starship.crew}}</td>
        <td>{{starship.designation}}</td>
        <td>{{starship.manufacturer}}</td>
      </tr>
    </ng-template>
  </p-table>

</p-card>
